@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Bangers|Luckiest+Guy&display=swap');
body {
    background-image: url("../imgs/bodyBG.png");
    font-family: 'Bangers', cursive;
}


#hiddenWordText {
    font-size: 3rem;
    font-family: 'Allerta Stencil', sans-serif;
}

h1.title {
    font-size: 4rem;
    font-family: 'Luckiest Guy', cursive;
}

#errorMessage, #restartText {
    font-size: 2rem;
    color: #FFB400;
}

#movieposter {
    width: 60%;
}

div.leftOver {
    font-size: 2rem;
}

