@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Bangers|Luckiest+Guy&display=swap');
body {
    background-image: url("../imgs/Title.jpeg");
    font-family: 'Bangers', cursive;
}
div.container{
    background-image: url("../imgs/backGround.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
}
div.titleCustom{
    border-width: 3px;
    border-style: groove;
    border-color: #FFB400;
}
/* div.BGSlight{
    background-color:rgb(255, 180, 0,.5);
    
} */

#hiddenWordText {
    font-size: 3rem;
    font-family: 'Allerta Stencil', sans-serif;
}

h1.title {
    font-size: 4rem;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    display:inline-block;
    position: relative;
    text-shadow: 3px 3px 0px #D0B8AC, 8px 8px 5px rgba(0,0,0,.5);
}

.shadow{
    display:inline-block;
    position: relative;
    text-shadow: 3px 3px 0px #D0B8AC;
}
.shadow{
    display:inline-block;
    position: relative;
    text-shadow: 2px 2px 0px #D0B8AC;
}
#errorMessage, #restartText {
    font-size: 2rem;
    color: #FFB400;
}

#movieposter {
    width: 60%;
    -webkit-animation-duration: 3s;
}

div.leftOver {
    font-size: 2rem;
}

@media (max-width: 575.98px) { ... }


@media (min-width: 576px) and (max-width: 767.98px) { ... }


@media (min-width: 768px) and (max-width: 991.98px) { ... }


@media (min-width: 992px) and (max-width: 1199.98px) { ... }


@media (min-width: 1200px) { ... }